
practiceConsumeAPI/practiceConsumeAPI.xcodeproj/project.xcworkspace/xcuserdata/adriangarcia.xcuserdatad/UserInterfaceState.xcuserstate

practiceConsumeAPI/practiceConsumeAPI.xcodeproj/xcuserdata/adriangarcia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

practiceConsumeAPI/practiceConsumeAPI.xcodeproj/xcuserdata/adriangarcia.xcuserdatad/xcschemes/xcschememanagement.plist

practiceConsumeAPI/practiceConsumeAPI.xcodeproj/project.pbxproj

practiceConsumeAPI/practiceConsumeAPI/Info.plist
